@import "start_settings";

body {
  font-family: 'Roboto', "Arial", sans-serif;
  font-style: normal;
  font-size: 10px;
}

.container {
  width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

//! разметка гридов

// *******************************************************
